[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "==2.6.0"
Babel = "==2.9.0"
Flask-Moment = "==0.11.0"
Flask-WTF = "==0.14.3"
Flask-SQLAlchemy = "==2.4.4"
flask = "==2.0.3"
psycopg2-binary = "*"
click = "==8.0.4"
itsdangerous = "==2.1.2"
jinja2 = "==3.0.0"
markupsafe = "==2.1.1"
werkzeug = "==2.0.3"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.10"
